/* ============================================================================
 * WorldMap Component Styles
 * ============================================================================
 */

.world_map {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 550px;
}

/* Responsive height for mobile devices */
@media (max-width: 768px) {
  .world_map {
    height: 350px;
  }
}

@media (max-width: 576px) {
  .world_map {
    height: 280px;
  }
}
